* {
    font-family: 'Inter', sans-serif;
    background-color: #82CAFF;
  }
  
  body {
    margin: 60px;
  }

  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    /* outline: none; */
    padding: 10px 15px;
    width: 80%;
    display: flex;
    margin: auto;
  }

  .titleAppNeon{
    text-align: center;
  }
  .titleAppNeon h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    color: red;
    text-shadow: 0 0 10px rgba(255, 0, 0, .5),
                 0 0 20px rgba(255, 0, 0, .5),
                 0 0 40px rgba(255, 0, 0, .5),
                 0 0 80px rgba(255, 0, 0, .5),
                 0 0 160px rgba(255, 0, 0, .5),
                 0 0 320px rgba(255, 0, 0, .5);
  }

  .titleAppNeon h1:hover{
    transition: .3s linear;
    color: transparent;
    -webkit-text-stroke: 2px red;
  }

  @keyframes typing{
    from { width: 0;}
  }

  @keyframes blink{
    50% { border-color: transparent ;}
  }

  h2 {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-bottom: 7px;
  }

  .categoryTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    color: pink;
    text-shadow: 0 0 10px rgba(255, 0, 0, .5),
                 0 0 20px rgba(255, 0, 0, .5),
                 0 0 40px rgba(255, 0, 0, .5),
                 0 0 80px rgba(255, 0, 0, .5),
                 0 0 160px rgba(255, 0, 0, .5),
                 0 0 320px rgba(255, 0, 0, .5);

  }

  .categoryTitle:hover{
    transition: .3s linear;
    color: transparent;
    -webkit-text-stroke: 2px red;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .card h3 {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 300px;
  }
  
  /* MediaQueries for mobile  */

  @media(width < 600px){
    .titleAppNeon h1{
      font-size: 2rem;
    }
  }

  @media(width < 600px){
    .categoryTitle{
      font-size: 2.5rem;
    }
  }

